@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap");

.footer {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  max-width: 800px;
  margin: auto;
}

/* .media_logo {
    cursor: pointer;
  }
  .media_logo {
    height: 20px;
    width: 20px;
    margin: 5px;
  }
  .logos {
    margin-left: auto;

  } */

.copy_right {
  color: #cccccc;
  text-align: center;
  font-size: 13px;
  padding-bottom: 10px;
  margin-top: 5px;
  font-family: "Lato", sans-serif;
}
